* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif;
background-color:rgb(247,247,247) !important; }

/* ---- grid ---- */
.container{
	margin: 2% 0;
}

.grid {
  background-color:rgb(247,247,247) !important; 
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 30%;
}

.gutter-sizer {
  width: 1%;
}

.grid-item--width2 { width: 50%; }

.grid-item {
  float: left;
  margin-bottom: 1%;
  text-align: center;
  font-weight: bold;
  background-color: white;
  color:black;
  border-style: double;
  border-color: rgba(0,0,0,.3);
}

.grid-item img {
  display: block;
  max-width: 100%;
  position: relative;
}
nav{
	text-align: center;
	padding:0px 0px 5px 5px;
}
.nav-list{
	margin-top:15px;
}
a.nav-item{
	font-family: "Bookman Old Style";
	
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	margin-right: 3em;
	margin-left: 3em;
	color:white;
}

.navbreaker{
	width: 45%;
	margin: auto;
}


hr{
	background-color:black;
	height:2px !important;
}

.navbreaker>p{
	font-family: "Lucida Typewriter";
	font-size: 85px;
	font-style: italic;
	font-variant: small-caps;
	font-weight: 700;
	line-height: 73.5px;
	text-align: center;
}

/*------------------------*/
.myImg {
	cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
	}

	.myImg:hover {opacity: 0.7;}

	/* The Modal (background) */
	.modal {
		display: none; /* Hidden by default */
		position: fixed; /* Stay in place */
		z-index: 1; /* Sit on top */
		padding-top: 100px; /* Location of the box */
		left: 0;
		top: 0;
		width: 100%; /* Full width */
		height: 100%; /* Full height */
		overflow: auto; /* Enable scroll if needed */
		background-color: rgb(0,0,0); /* Fallback color */
		background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
	}

	/* Modal Content (image) */
	.modal-content {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
	}

	/* Caption of Modal Image */
	#caption {
		margin: auto;
		display: block;
		width: 80%;
		max-width: 700px;
		text-align: center;
		color: #ccc;
		padding: 10px 0;
		height: 150px;
	}

	/* Add Animation */
	.modal-content, #caption {    
		-webkit-animation-name: zoom;
		-webkit-animation-duration: 0.6s;
		animation-name: zoom;
		animation-duration: 0.6s;
	}

	@-webkit-keyframes zoom {
		from {-webkit-transform:scale(0)} 
		to {-webkit-transform:scale(1)}
	}

	@keyframes zoom {
		from {transform:scale(0)} 
		to {transform:scale(1)}
	}

	/* The Close Button */
	.close {
		position: absolute;
		top: 15px;
		right: 35px;
		color: white !important;
		font-size: 40px;
		font-weight: bold;
		transition: 0.3s;
		opacity: 1 !important;

	}

	.close:hover,
	.close:focus {
		color: #bbb;
		text-decoration: none;
		cursor: pointer;
	}




	/* 100% Image Width on Smaller Screens */
	@media only screen and (max-width: 700px){
		.modal-content {
			width: 100%;
		}
	}
